<menu></menu>

<p>{{message}}</p>


<h1>This is practicing Full Stack MEAN</h1>


<div class="products-container">
	<div class="product" ng-repeat="product in products">
		<h3>{{product.name}}</h3>
		<li>Cost:  {{product.price}}</li> 
		<li>Time Created: {{(product.timeAdded | date: 'EEEE, MMMM d, h:mm a' )|| 'unknown Time'}}</li>
		

	</div>

</div>

<div class="form">
	<h2>Enter info about new product to add</h2>
	<input type="text" placeholder="name" ng-model="newProduct.name">
	<input type="text" placeholder="price" ng-model="newProduct.price">
	<button ng-click="addProduct(newProduct)">click to Submit</button>
</div>



